@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CM</title>
    <link rel="shortcut icon" href="~/images/Logo.jpeg" />


    <environment include="Development">
        <link href="https://cm.com/en-gb/app/aurora/css/v2/aurora.css" rel="stylesheet">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
        <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </environment>
    <environment exclude="Development">
        <link href="https://cm.com/en-gb/app/aurora/css/v2/aurora.css" rel="stylesheet">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
        <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </environment>
</head>
<body @*class="dark"*@>
    <input type="checkbox" id="cm-sidenav-toggle" checked>
    <label for="cm-sidenav-toggle"></label>
    <cm-sidenav style="padding-left:50px; padding-right:50px;">
        <cm-sidenav-header data-open data-display="Aurora">
            <span class="badge middle-right sidenav-badge"></span>
            <img src="~/images/Logo.jpeg" alt="CM" height="50" width="50">
            <cm-sidenav-option><a asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a></cm-sidenav-option>
            <cm-sidenav-option><a asp-area="" asp-controller="Appointment" asp-action="Agenda">Agenda</a></cm-sidenav-option>
        </cm-sidenav-header>

        @if (Context.Session.GetInt32("Admin") == 1)
        {
            <cm-sidenav-header data-display="Components">
                <cm-sidenav-option><a asp-area="" asp-controller="Account" asp-action="Beheerder">Beheerder</a></cm-sidenav-option>
            </cm-sidenav-header>
        }

        @if (Context.Session.GetInt32("Admin") == 1 || Context.Session.GetInt32("Doctor") == 1)
        {
            <cm-sidenav-header data-display="Components">
                <cm-sidenav-option><a asp-area="" asp-controller="Appointment" asp-action="Index">Appointment</a></cm-sidenav-option>
            </cm-sidenav-header>
        }

        <cm-sidenav-header data-display="Components">
            <cm-sidenav-option><a asp-area="" asp-controller="Account" asp-action="Index">Account</a></cm-sidenav-option>
        </cm-sidenav-header>
        <cm-sidenav-header data-display="Layout"></cm-sidenav-header>
        <cm-sidenav-header data-render-bottom data-display="Layout"></cm-sidenav-header>
    </cm-sidenav>
    <platform-header title-text="Aurora™"></platform-header>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content" style="padding-top:0px; padding-left:50px;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - CM</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
