<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#1657ea">
    <meta name="robots" content="none">
    <title>@ViewData["Title"] - CM</title>
    <base href="/">
    <link href="https://platformheader.cmtelecom.com/css/platform.aurora.v2.min.css" rel="stylesheet">
    <link href="https://cm.com/app/aurora/css/v2/aurora.css" rel="stylesheet">
    <link href="https://cdn.cm.com/cm/favicon-32x32.png" rel="icon">
    <link href="https://cdn.cm.com/cm/apple-touch-icon.png" rel="apple-touch-icon">

    <link href="https://cm.com/en-gb/app/aurora/css/v2/aurora.css" rel="stylesheet">
   
</head>
<body>
    <script src="https://cm.com/en-gb/app/aurora/js/webcomponents-loader.js"></script>
    <script src="https://cm.com/en-gb/app/aurora/js/aurora-components-legacy.js"></script>
    <input type="checkbox" id="cm-sidenav-toggle" checked>
    <label for="cm-sidenav-toggle"></label>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">CM</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-area="" asp-controller="Home" asp-action="Login"></a><img src="~/images/banner1.svg" class="img-responsive"></li>
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - CM</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
    <platform-header title-text="my-template-app" app-icon="fa fa-gamepad"></platform-header>
    <script type="text/javascript" src="https://cm.com/app/aurora/js/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="https://cm.com/app/aurora/js/moment-timezone-with-data.min.js"></script>
    <script type="text/javascript" src="https://cm.com/app/aurora/js/chart.min.js"></script>>
    <script type="text/javascript" src="https://platformheader.cmtelecom.com/js/platform-header-js.min.js"></script>
    <script type="text/javascript" src="https://cm.com/app/aurora/js/webcomponents-loader.js"></script>
    <script type="text/javascript" src="https://cm.com/app/aurora/js/aurora-components-legacy.js"></script>
    <cm-overlay></cm-overlay>
</body>
</html>
