@model CM.ViewModels.AccountDetailViewModel
@{
    ViewData["Title"] = "MyAccount";
}

<h2>MyAccountView</h2>
<div>@Model.Name</div>
<div>@Model.DateOfBirth</div>
<div>@Model.Email</div>
<div>@Model.PhoneNumber</div>
<a class="btn btn-cta" asp-area="" asp-controller="Account" asp-action="EditNotification">Edit notification</a>
<a class="btn btn-cta" asp-area="" asp-controller="Account" asp-action="LogOut">Log out</a>

