
@{
    ViewData["Title"] = "Beheerder";
}

<h2>BeheerderView</h2>

<a asp-area="" asp-controller="Notification" asp-action="StartHangfire">Start</a>
<a asp-area="" asp-controller="Notification" asp-action="StopHangfire">Stop</a>
