@model CM.ViewModels.AccountDetailViewModel
@using CM.Models
@{
    ViewData["Title"] = "Beheerder";
}

<h1>Link accounts</h1>

<form asp-area="" asp-controller="Account" asp-action="LinkAccounts">
    <div class="form-group">
        <div>Link Doctor:</div>
        @Html.DropDownListFor(m => m.AccountID,
        new SelectList(ViewBag.AllDoctors),
        "Select Doctor")
        <div>to Patient:</div>
        @Html.DropDownListFor(m => m.AccountID,
         new SelectList(ViewBag.AllPatients),
        "Select Patient")
        <button type="submit" class="form-group">Link accounts</button>
    </div>
</form>

<h1>Hangfire</h1>
<a asp-area="" asp-controller="Notification" asp-action="StartHangfire">Start</a>
<a asp-area="" asp-controller="Notification" asp-action="StopHangfire">Stop</a>
