@model CM.ViewModels.AppointmentViewModel
@using CM.Models
@{
    ViewData["Title"] = "Dashboard";
}

<h2>Dashboard</h2>
@foreach (Appointment appointment in Model.appointments)
{
    <div>@appointment.Duration , @appointment.Date</div>
}