@model CM.ViewModels.AppointmentViewModel
@using CM.Models
@{
    ViewData["Title"] = "Dashboard";
}

<h2>Dashboard</h2>
<table class="table table-striped table-bordered">
    <tr>
        <th>Duration</th>
        <th>Date</th>
    </tr>
    @foreach (Appointment appointment in Model.appointments)
    {
        <tr>
        <td>@appointment.Duration minuten</td>
        <td>@appointment.Date</td>
        </tr>
    }
    </table>