
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>Login</h2>
@model CM.ViewModels.AccountDetailViewModel
<form asp-area="" asp-controller="Account" asp-action="Login">
    <div class="form-group" align="left">
        <div class="form-row">
            <h6>Email</h6>
            <div class="form-input success">
                @*@Html.TextBoxFor(m => m.Email, new { maxlength = "50", size = "30" })
                @Html.ValidationMessageFor(m => m.Email)*@
                <input asp-for="Email" type="text" class="form-control" id="exampleFormControlInput4" placeholder="Voer email in">
            </div>
            <h6>Password</h6>
            <div class="form-input success">
                @*@Html.TextBoxFor(m => m.Password, new { maxlength = "50", size = "30" })
                @Html.ValidationMessageFor(m => m.Password)*@
                <input asp-for="Password" type="password" class="form-control" id="exampleFormControlInput4" placeholder="Voer wachtwoord in">
            </div>
        </div>
            <button type="submit" class="btn btn-cta">Log in</button>
    </div>
</form>

<a asp-area="" asp-controller="Notification" asp-action="SendSMS">Register now</a>
