@model CM.ViewModels.AccountDetailViewModel
@{
    ViewData["Title"] = "MyAccount";
}

<h2>MyAccountView</h2>
<div>@Model.Name</div>
<div>@Model.DateOfBirth</div>
<div>@Model.Email</div>
<div>@Model.PhoneNumber</div>
<a asp-area="" asp-controller="Account" asp-action="LogOut">Log out</a>

