
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>Register</h2>
@model CM.ViewModels.AccountDetailViewModel
<form asp-area="" asp-controller="Account" asp-action="Register">
    <div class="form-group">
        <h6>Name</h6>
        <div class="form-input">
            <input asp-for="Name" type="text" class="form-control" id="exampleFormControlInput4" placeholder="Input name">
        </div>
        <h6>Password</h6>
        <div class="form-input">
            <input asp-for="Password" type="text" class="form-control" id="exampleFormControlInput4" placeholder="Input password">
        </div>
        <h6>Melding ID</h6>
        <div class="form-input">
            <input asp-for="MeldingID" type="text" class="form-control" id="exampleFormControlInput4" placeholder="Input notification">
        </div>
        <h6>Date of Birth YYYY-MM-DD</h6>
        <div class="form-input">
            <input asp-for="DateOfBirth" type="text" class="form-control" id="exampleFormControlInput4" placeholder="Input date of birth">
        </div>
        <h6>Email</h6>
        <div class="form-input">
            <input asp-for="Email" type="text" class="form-control" id="exampleFormControlInput4" placeholder="Input email">
        </div>
        <h6>Phone number</h6>
        <div class="form-input">
            <input asp-for="PhoneNumber" type="text" class="form-control" id="exampleFormControlInput4" placeholder="Input phone number">
        </div>
        <button type="submit" class="btn btn-cta">Register</button>
    </div>
</form>

<a asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
